#comment-img-container {
  position: relative;
  width: 100%;
  padding: 20px;
}

#img-to-comment {
  width: 30%;
}

#send-btn {
  padding: 0 5px 0 0;
}

#send-btn:focus {
  outline: none important!;
  box-shadow: none;
}
