.container-choose-to:hover {
  background-color: lightgray;
}

.nav-btn {
  border: none;
  text-align: left;
}

.nav-btn:focus {
  background-color: lightgray;
}

.white {
  background-color: white;
}
