.create-post-card {
  position: relative;
  height: 145px;
}

.text-btn {
  background: #e9ecef;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: 80px;
  color: gray;
  border: none;
  text-align: left;
}

.text-div:hover {
  background: lightgray;
}

.add-btn {
  display: block;
  width: 33%;
  min-width: 150px;
  float: left;
}
