.friends-list {
  margin-top: 50px;
  height: 92.5vh;
}

.col-two {
  overflow-x: hidden;
}

.profile-container {
  width: 98%;
  min-width: 600px;
  margin-top: -3.5%;
  padding-right: 25px;
}

.nav-link:hover {
  background-color: lightgray;
}
