.grad {
	background-image: linear-gradient(rgb(48, 48, 48), white, white);
}

.profile-col {
	max-width: 960px;
}

.background-pic-container {
	position: relative;
	height: 380px;
	min-height: 250px;
}

.background-pic {
	display: block;
	width: 100%;
	height: 105%;
	min-height: 250px;
	max-height: 750px;
	object-fit: cover;
	margin: auto;
	margin-top: 3.5%;
	border-radius: 13px;
	pointer-events: none;
	z-index: -1;
}

.background-pic-button {
	position: absolute;
	bottom: 15px;
	right: 30px;
}

.profile-pic-container {
	border: 5px solid white;
	border-radius: 95px;
	position: absolute;
	bottom: -12%;
	left: 50%;
	margin-left: -95px;
}

.profile-pic-button {
	border-radius: 22px;
	height: 44px;
	width: 44px;
	position: absolute;
	bottom: 8%;
	left: 75%;
}

/*centers posts in profile component in vertical mobile view*/
.posts > div,
.profile-col {
	padding-right: 0;
}

/*removes caret from background-pic-button*/
.background-pic-button::after {
	content: none;
}

@media (max-width: 640px) {
	.background-pic-button span {
		display: none;
	}
}
