#custom-drop-down-btn {
  height: 0.1em;
  width: 1.7em;
  border-radius: 1.7em;
  border-color: #e9ecef;
  color: black;
  background: #e9ecef;
  box-shadow: none;
  font-size: 1.5em;
  padding-bottom: 1.5em;
}

#custom-drop-down-btn:hover {
  background: lightgray;
}

#custom-drop-down-btn:focus {
  color: dodgerblue;
  background-color: lightblue;
  border-color: lightblue;
}

#profile {
  width: 100px;
  height: 46px;
  background: #e9ecef;
  border-radius: 23px;
}

#profile:hover {
  background: lightgray;
}

#profile:focus {
  color: dodgerblue;
  background-color: lightblue;
}
